html {
    height: 100%;
}

body {
    height: 100%;
    background-color: rgb(0,6,11);
    
}

.navbar{
    
background-color:  rgb(0,6,11) !important;    
    
}
a {
    text-decoration: none;
}

.main {
    height: 100%;
}
.social-image{
    width: 30px;
    margin: 15px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

nav {
  width: 100%;
  background-color: #0b0b0b;
  position: fixed;
  bottom: 0;
  height: 100px;
  overflow: hidden;
}
nav ul {
  position: absolute;
  top: 0;
  left: 20vw;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 140vw;
}
nav li {
  margin: 0;
  display: inline-block;
  height: 98px;
  margin-bottom: 2px;
  line-height: 100px;
  width: 20vw;
  text-align: center;
  color: #555;
  transition: background-color 0.5s 0.2s ease, color 0.3s ease;
  cursor: pointer;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 800;
  transform: translateY(100%);
}
nav li.active {
  background-color: #151515;
  color: #efefef;
}
nav li.active::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #f7ca18;
}
nav li:nth-child(1) {
  animation: pop 0.5s 0.15s 1 forwards;
}
nav li:nth-child(2) {
  animation: pop 0.5s 0.3s 1 forwards;
}
nav li:nth-child(3) {
  animation: pop 0.5s 0.45s 1 forwards;
}
nav li:nth-child(4) {
  animation: pop 0.5s 0.6s 1 forwards;
}
nav li:nth-child(5) {
  animation: pop 0.5s 0.75s 1 forwards;
}
nav li:nth-child(6) {
  animation: pop 0.5s 0.9s 1 forwards;
}
nav li:nth-child(7) {
  animation: pop 0.5s 1.05s 1 forwards;
}
nav li:hover {
  color: #ececec;
}
nav li:nth-child(1):hover ~ .slide {
  left: 0;
}
nav li:nth-child(2):hover ~ .slide {
  left: 20vw;
}
nav li:nth-child(3):hover ~ .slide {
  left: 40vw;
}

nav li.slide {
  position: absolute;
  left: -60vw;
  top: 0;
  background-color: #fff;
  z-index: -1;
  height: 2px;
  margin-top: 98px;
  transition: left 0.3s ease;
  transform: translateY(0);
}
section {
  background-image:url(http://i.imgur.com/Y3Xs6lY.jpg);
  height: 100vh;
  display: flex;
}
section .title {
  max-width: 100%;
  width: 100%;
  align-self: center;
  transform: translateY(-50px);
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 10px;
}
section .title span {
  display: inline-block;
  font-size: 5vw;
  color: #efefef;
  width: 100%;
  text-transform: uppercase;
  transform: translateX(800px);
  animation: byBottom 1s ease both;
  font-weight: 600;
  letter-spacing: 0.25vw;
}
section .title span:last-child {
  font-size: 1rem;
  animation: byBottom 1s 0.25s ease both;
}
section .title span a {
  position: relative;
  display: inline-block;
  margin-left: 20%;
  text-decoration: none;
  color:white;
}
section .title span a::after {
  content: "";
  height: 5px;
  background-color: #003b6f;
  position: absolute;
  bottom: -12px;
  left: 0;
  animation: linkAfter 0.8s 1s ease both;
}
@-moz-keyframes pop {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes pop {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
@-o-keyframes pop {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes pop {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
@-moz-keyframes byBottom {
  0% {
    transform: translateY(150%);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes byBottom {
  0% {
    transform: translateY(150%);
  }
  100% {
    transform: translateY(0);
  }
}
@-o-keyframes byBottom {
  0% {
    transform: translateY(150%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes byBottom {
  0% {
    transform: translateY(150%);
  }
  100% {
    transform: translateY(0);
  }
}
@-moz-keyframes linkAfter {
  0% {
    width: 0;
  }
  100% {
    width: 100px;
  }
}
@-webkit-keyframes linkAfter {
  0% {
    width: 0;
  }
  100% {
    width: 100px;
  }
}
@-o-keyframes linkAfter {
  0% {
    width: 0;
  }
  100% {
    width: 100px;
  }
}
@keyframes linkAfter {
  0% {
    width: 0;
  }
  100% {
    width: 170px;
  }
}

.title{
    
margin-left:31% !important;    
    
    }

.s-media{
 position: fixed;
 top: 30% ;
 left: 0;
 z-index: 1000;
 transition:all linear 0.2s ;
}
.s-media a:first-child{
    border-radius: 0 5px 0 0;
}
.s-media a:last-child{
    border-radius: 0 0 5px 0;
}
.s-item {
    display:block;
    width: 60px;
    height: 60px;
    color: white;
    font-size: 25px;
    line-height: 60px;
    text-align: center;

    transition:all linear 0.2s ;
}
.s-item:hover {
    width:70px;
    
}

#sm-open {
    position: fixed;
    top: 100px ;
    left: -60px;
    border-radius:0 30px 30px 0;
    
    transition:all linear 0.2s ;
}
.facebook {background-color: #305891;}
.twitter {background-color: #3AAFD6;}
.ytube {background-color: #F8694D; }
.print {background-color: #7CB0A4;}
.sm-collapse{left: -60px; }

.article {
  max-width: 860px;
  margin: 30px auto;
  padding: 50px 50px;
  box-sizing: border-box;
  overflow: hidden;
  background-color:white;
}
.article:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  z-index: -9999;
}

h1 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0 0 1em;
}

img {
  display: block;
  max-width: 100%;
}

.align-left {
  float: left;
  max-width: 35%;
  margin: 0 30px 15px 0;
}

.article {
  background: white;
}
.article:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: -1;
}

hr {
  height: 0;
  margin: 30px -30px;
  border: 0;
  border-bottom: 1px solid #eee;
  position: relative;
  overflow: visible;
}
hr:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 9999em;
  background: #fff;
  z-index: -1;
}
hr:nth-of-type(odd):before {
  background: #fafafa;
}

 header {
  position: absolute;
  top: 0;
  left: 0;
  padding:20px;
  background: #262626;
  width: 100%;
  margin-top:0px !important;
  box-sizing: border-box;
}
header .logo {
  color: #fff;
  height: 60px;
  line-height: 60px;
  font-size: 250%;
  
}

